<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWordCount" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IWordCount" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/AlexRubakha/WordCountService"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWordCount"
                      contract="WordCountServiceReference.IWordCount" 
                      name="BasicHttpBinding_IWordCount" />
            <endpoint address="net.pipe://alexrubakha/WordCountService" 
                      binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IWordCount" 
                      contract="WordCountServiceReference.IWordCount"
                      name="NetNamedPipeBinding_IWordCount">
                <identity>
                    <userPrincipalName value="Home-PC\Home" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>